---
type Props = {
  title: string;
  favicon: string;
  description: string;
  keywords?: string;
  author?: string;
  ogType?: string;
  ogImage?: string;
  ogUrl?: string;
};

// In content/seo/base.md

const {
  title,
  favicon,
  description,
  keywords,
  author,
  ogType = "website",
  ogImage,
  ogUrl,
} = Astro.props;

const baseUrl = Astro.site ?? Astro.url;
const defaultCanonicalUrl = new URL(Astro.url.pathname + Astro.url.search, baseUrl);
---

<!-- Required Meta Tags -->
<title>{title}</title>
<link rel="icon" type="image/png" href={favicon} />
<meta name="description" content={description} />
<link rel="canonical" href={defaultCanonicalUrl.href} />
<meta charset="UTF-8" />
<!-- Optional Meta Tags for SEO -->
{keywords && <meta name="keywords" content={keywords} />}
{author && <meta name="author" content={author} />}

<!-- Open Graph Meta Tags -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content={ogType} />
{ogImage && <meta property="og:image" content={ogImage} />}
{ogUrl && <meta property="og:url" content={ogUrl} />}
