---
import { AstroContainer, AstroSection } from "#/components/astro";
import DesktopMenu from "#/components/astro/DesktopMenu.astro";
import { Seo } from "#/shared/seo";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
// import { DesktopMenu } from "#/components/custom-react/nav-menu";
import { menuItems } from "#/shared/const/menu";
import type { SeoProps } from "#/shared/types";

interface Props {
  title: string;
  description: string;
  keywords?: string | string[];
  image?: string;
  seoData?: SeoProps;
}

const { title, description, keywords, image, seoData } = Astro.props;
---

<!doctype html>
<html lang="ru" class="w-full scroll-smooth" transition:persist>
  <head>
    <meta name="viewport" content="width=device-width" />
    <Seo title={title} description={description} image={image} />
    <ClientRouter />
  </head>
  <body>
    <header transition:persist>
      <AstroSection>
        <AstroContainer>
          <!-- <DesktopMenu config={menuItems} client:load /> -->
          <DesktopMenu config={menuItems} />
        </AstroContainer>
      </AstroSection>
    </header>
    <main transition:animate="slide">
      <slot />
    </main>
    <style is:global>
      /*   Подключаем шрифты тут или в глобальном стиле  */
    </style>
    {/* Подключаем метрику тут */}
    {/* Не забываем подключить метрику через Partytown!!! attribute type="text/partytown" */}
  </body>
</html>
